{% extends 'base.html.twig' %}

{% block title %}Liste des séances{% endblock %}

{% block body %}
    <h1>Liste des séances</h1>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Séances</th>
                    <th>Salles</th>
                    <th>Date de début</th>
                    <th>Langue</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for seance in seances %}
                <tr>
                    <td>{{ seance.film.title  }}</td>
                    <td>{{ seance.salle.id  }}</td>
                    <td>{{ seance.dateDebut ? seance.dateDebut|date('Y-m-d H:i') : '' }}</td>
                    <td>{{ seance.langue }}</td>
                    <td>{{ seance.createdAt ? seance.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ seance.updatedAt ? seance.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('seance_show', {'id': seance.id}) }}">voir</a>
                        <a href="{{ path('seance_edit', {'id': seance.id}) }}">editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('seance_new') }}">Créer une nouvelle séance</a>
    </div>
{% endblock %}
