{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1>Seance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Séances</th>
                <td>{{ seance.film.title}}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ seance.dateDebut ? seance.dateDebut|date('d/m/y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ seance.langue }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ seance.createdAt ? seance.createdAt|date('d/m/y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ seance.updatedAt ? seance.updatedAt|date('d/m/y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seance_index') }}">Retour à la liste</a>

    <a href="{{ path('seance_edit', {'id': seance.id}) }}">Editer</a>

    {{ include('seance/_delete_form.html.twig') }}
{% endblock %}
