{% extends 'base.html.twig' %}

{% block title %}Synopsis{% endblock %}

 {% block body %}
<h1>Synopsis</h1>
<div class="container">
    <div id="resume">
        {% if film|length == 0 %}
            Pas d'info disponible.
        {% endif %}

        <div class="imgBox">
            <img src="{{ asset('img/'~film.image~'') }}" alt="{{ film.title }}">
        </div>
        <div class="content">
            <h2>{{ film.title }}</h2>
            <span>Director: {{ film.director }}</span>
            <span>Genre: {{ film.gender }}</span>
            <span>Synopsis: </span>
            <p>{{ film.description }}</p>
        </div>
        <div class="seances">
            {% for seance in seances %}
                <span><u>Seance:</u> {{ seance.dateDebut|date('Y-m-d H:i') }}</span>
                <span class="salle">Salle {{ seance.salle.id }}</span>
            {% endfor %}
        </div>
    </div>
</div>
 {% endblock %}