 {% extends "base.html.twig" %}
 {% block title %}Liste des Films{% endblock %}

 {% block body %}
<h1>liste des films</h1>
 <div id="content">
    {% if films|length == 0 %}
    <div class="message">
        <span class="error">Désolé,</span>
        <span class="error">pas de film disponible</span>
    </div>
    {% endif %}

    {% for film in films %}
    <div class="box">
        <div class="imgBox">
            <a href=" {{ path('resume_film', {'id': film.id}) }}">
                <img src="{{ asset('img/'~film.image~'') }}" alt="{{ film.title }}">
            </a>
        </div>
        <div class="content">
            <h2>{{ film.title }}<br>
                <span>Director: {{ film.director }}</span><br>
                <span>Genre: {{ film.gender }}</span>
            </h2>
            <div class="edit-tools">
                <a href=" {{ path('update_film', {'id': film.id}) }}">Editer</a>
                <a href=" {{ path('delete_film', {'id': film.id}) }}">Supprimer</a>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>
 {% endblock %}